<section class="main-sec w-[75%] mx-auto">
    <h1 class="text-center text-3xl text-main">shop cart</h1>
    <div class="flex items-center justify-between">
        <span class="text-main">total cart price : {{cartDetails.totalCartPrice|currency:'GBP'}}</span>
         <button (click)="clearItme()" class="bg-main border rounded text-xs px-10 py-1 text-white">Clear cart</button>
    </div>
     @for (produ of cartDetails.products; track produ.products) {
        <div class="grid md:grid-cols-[10%_minmax(0,1fr)] border-b mb-2">
            <div>
                <img [src]="produ.products.imgeCover" class="w-full h-[100px]" [alt]="produ.products.title">
            </div>
            <div class="flex justify-between items-center">
                <div>
                    <h3>{{produ.products.title}}</h3>
                    <h4>price : {{produ.price|currency:'GBP'}}</h4>
                    <button (click)="removeItme(produ.products.id)"><i class="fas fa-trash-can text-main"> remove</i></button>
                </div>
                <div class=" flex items-center gap-4">
                    <button (click)="updataCount(produ.products.id,produ.count+1)" class="text-main text-3xl"><i class="fa-regular fa-square-plus"></i></button>
                    <span>{{produ.count}}</span>
                    <button  (click)="updataCount(produ.products.id,produ.count-1)"  class="text-main text-3xl" ><i class="fa-regular fa-square-minus"></i></button>
                </div>
            </div>
         </div>
     }
     <button class="btn bg-main text-white rounded px-3 py-1 " [routerLink]="['/check', cartDetails._id]">checkout</button>
    



</section>