<footer class="footer bg-[#f1f3f2] py-10 capitalize">
    <div class="w-11/12 mx-auto">
        <h2 class="m-0 text-2xl ">get the feshcart app</h2>
        <p class="text-gray-500 text-sm">we will send you alink open it on your phone to download the app</p>
        <div class="items-center flex gap-3 text-nowrap">
           <input type="text" class="w-[80%] rounded-lg border-gray-300">
           <button class="bg-main text-white px-3 py-1 rounded-md">Share App Link</button>
         
        </div>

        <hr/>

        <div class="pay-details md:flex justify-between items-center my-5">
           <div class="flex items-center gap-2">
            <h3 class="text-sm m-0 ">payment partners</h3>
            <img src="/images/amazon-pay.png" alt="" width="50px">
            <img src="/images/American-Express-Color.png" alt="" width="50px">
            <img src="/images/paypal.png" alt="" width="50px">
            <img src="/images/mastercard.webp" alt="" width="50px">
           </div>
           
            <div class="flex items-center gap-2">
                <h3 class="h6 m-0">get deliverise with feshcart</h3>
                <img src="/images/get-google-play.png"  width="100px" alt="">
                <img src="/images/get-apple-store.png" width="100px" alt="">
            </div>
          
       </div>
    </div>
    


</footer>
